<div class="container-xl" style="margin-top: 10em;">
    <div class="viewest-news-item">
        <div class="viewest-news-item-thumbnail">
            <a href="">
                <img src="/img/img_nature_wide.jpg" alt="">
            </a>
        </div>
        <div class="viewest-news-item-meta">
            <a href=""><span class="categorylabel">Chuyên mục</span></a>
            <a href="">
                <h3 class="viewest-news-item-title">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc
                    nhà
                    tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc
                    tiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệctiệc ds</h3>
            </a>
            <span class="news-item-date">
                1 giờ trước - 131 lượt xem
            </span>
            <div class="news-item-decription ">Hùng trõe đã làm nên huyền thoại để đời sau bữa tiệc nhà
                tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc tiệc trõe đã làm trõe đã làm trõe đã làm
                trõe đã làm trõe đã làm
                trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe đã làm trõe
                đã làm
            </div>
        </div>
    </div>
</div>