* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", sans-serif; */
  font-size: 15px;
  background-color: #fafafa;
}
label {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}
div {
  display: block;
}
img {
  border: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
.bold {
  font-weight: 500 !important;
}
.center {
  text-align: center;
}
.contain-siz {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
}
.top-nav {
  padding: 0 200px !important;
}
.catLink a {
  color: #26272b !important;
}
.catLink a:hover {
  color: #00aced !important;
  cursor: pointer;
}

.logo img {
  width: 200px;
  height: 80px;
  object-fit: cover;
}
.has-transition,
.tittle a {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.tittle a:hover {
  color: #29aafe !important;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-right: 70px;
}
.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.searchTerm:focus {
  color: #00b4cc;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Categori list-menu*/
.wrapper {
  width: 100%;
}

.mega_menu {
  width: 100%;
  height: 60px;
}

.mega_menu ul {
  width: 100%;
  height: 100%;
  background: #000000;
  text-align: center;
  line-height: 59px;
  position: relative;
  z-index: 2;
}
.mega_menu .selected {
  border-bottom: solid 2px #00aced;
}

.mega_menu ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 0 15px;
}

.mega_menu ul li > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 12px;
  display: block;
}
.mega_menu ul li .subCat-item > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 12px;
  display: block;
}
.mega_menu ul li .subCat-item > a:hover {
  text-decoration: none;
  color: #00aced;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 12px;
  display: block;
}

.wrapper .banner_img img {
  width: 100%;
  height: 500px;
}

.mega_menu ul li .sub_menu {
  position: absolute;
  background: #2c2c2c;
  width: 100%;
  left: 0;
  top: 60px;
  padding: 25px 15px;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
  line-height: 24px;
  z-index: 0;
}

.mega_menu ul li:hover {
  background: #2c2c2c;
}

.mega_menu ul li:hover a {
  color: #ca914e;
}

.mega_menu ul li:hover .sub_menu {
  visibility: visible;
}

.mega_menu ul li .sub_menu .col img {
  width: 250px;
  height: 180px;
  display: block;
}
.mega_menu ul li .sub_menu .subExCat {
  margin-top: 10px;
}

.mega_menu ul li .sub_menu .subExCat a {
  color: #fff;
  margin-top: 15px !important;
  font-size: 14px;
}
.mega_menu ul li .sub_menu .subExCat a:hover {
  color: #00aced;
}

.mega_menu ul li .sub_menu h5 {
  color: #ca914e;
}
/*END Categori list-menu*/

/*Carosel 4 bài nổi trội*/

#owl-demo .item {
  display: block;
  width: 100%;
  height: auto;
}
#owl-demo .item .wrapif img:hover {
  opacity: 0.7;
}
#owl-demo .item .wrapif {
  position: relative;
  /* max-width: 800px; */
  margin: 0 auto;
}
#owl-demo .item .wrapif img {
  vertical-align: middle;
  object-fit: cover;
  height: 25rem;
}
#owl-demo .item .wrapif .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 50%;
  padding: 20px;
}
#owl-demo .item .wrapif .content .news-item-premium {
  position: absolute;
  top: -10px;
  left: 200px;
  padding: 3px 50px;
  animation: none;
  border-radius: 0;
}
#owl-demo .item .wrapif .content a {
  color: #fafafafa;
}
/*end Carousel 4 BV nổi bật*/

/*Carousel dsbv theo Cat*/
#owl-list .item {
  display: block;
  width: 100%;
  height: auto;
}
#owl-list .item .wrapCat-list {
  position: relative;
  /* max-width: 800px; */
  margin: 0 auto;
}

#owl-list .item .wrapCat-list img {
  vertical-align: middle;
  object-fit: cover;
  height: 20rem;
}
#owl-list .item .wrapCat-list img:hover {
  opacity: 0.3;
}
#owl-list .item .wrapCat-list .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center !important;
  height: 50%;
}
#owl-list .item .wrapCat-list .content .news-item-premium {
  position: initial;
  animation: none;
  padding: 1px 20px;
}
#owl-list .item .wrapCat-list .content a {
  color: #fafafafa;
}
#owl-list .item .wrapCat-list .content a:first-child:hover {
  color: #29aafe;
}
/**/

/*Title heding*/
.tittleHeading {
  position: relative; /* This is important */
  margin: 1.5em 0 0.9em;
  font-size: 28px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  overflow: hidden; /* This is important */
}

/* Create two pseudo-elements */
.tittleHeading:before,
.tittleHeading:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 50%;
  height: 2px;
  display: inline-block;
  background: #303030;
}

/* Adjust the "14px" value to change the text's left padding */
.tittleHeading:before {
  margin-left: calc(-50% - 14px);
}

/* Adjust the "14px" value to change the text's right padding */
.tittleHeading:after {
  margin-left: 14px;
}

/*end Title heding*/

/*---Trang Home*/
#famousNew-carousel {
  width: 100%;
  height: 400px;
}
#famousNew-carousel img,
#TopCateg-carousel img {
  width: 100%;
  height: 400px;
  margin: 0;
  object-fit: cover;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.categoryText {
  color: #ff4e00;
  font-weight: 500;
}
.categoryText:hover {
  text-decoration: underline;
}
.categorylabel {
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgba(0, 144, 255, 0.7);
  color: #fff;
  font-weight: 500;
}
.categorylabel:hover {
  background-color: #3b5998;
}

@media (min-width: 1024px) {
  .news-item {
    clear: both;
    margin-bottom: 10px;
  }
}
.Newest {
  padding: 10px;
}
.news-item {
  position: relative;
  overflow: hidden;
  margin: 15px 0;
}

.news-item-thumbnail {
  float: left;
  width: 150px;
  height: 120px;
  margin-right: 10px;
  overflow: hidden;
}
.news-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.news-item-title {
  max-height: 80px;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}
.news-item-date {
  font-size: 11px;
  color: #888;
}

.news-item-premium {
  position: absolute;
  /* top: 70px; */
  left: 85px;
  font-size: 15px;
  color: #fafafa;
  background-color: #ffc107;
  text-shadow: 0 0 10px #000;
  animation: blink 1.75s linear infinite;
  border-radius: 10px;
  padding: 0 2px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/* @keyframes blink{
  0%{color: Violet;}
  15%{color: Indigo;}
  30%{color: blue;}
  45%{color: Green;}
  59%{color: Yellow;}
  76%{color: Orange;}
  91%{color: Red;}
  100%{color: pink;}
} */

/* Ds Bài viết nhiều view */
.viewest-news {
  padding: 40px;
  padding-top: 0;
}
.viewest-news-item {
  height: auto;
  padding: 0px;
  height: 170px;
  margin: 15px 0;
}
.viewest-news-item:hover .viewest-news-item-meta {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-right: solid 3px #6495ed;
}
.viewest-news-item:hover img {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  opacity: 0.5;
}

.viewest-news-item-thumbnail {
  position: relative;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.viewest-news-item-thumbnail .news-item-premium {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 0; */
}
.viewest-news-item-thumbnail img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.viewest-news-item-meta {
  padding-right: 5px;
}
.viewest-news-item-title {
  max-height: 60px;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}
.news-item-decription {
  max-height: 80px;
  line-height: 25px;
  overflow: hidden;
  font-size: 13px;
}
/*End Ds Bài viết nhiều view*/
/*---END Trang Home*/

/*--- Tag design */
#tags {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #ccc inset;
  padding: 10px;
  width: 100%;
  background: #fafafa;
  margin: 0;
}

#tag-typer {
  outline: none;
  border: none;
  padding: 6px;
  margin: 3px;
  margin-right: -25px;
  width: 120px;
  background-color: transparent;
  font-size: 14px;
  color: #333;
}

.tag {
  display: inline-block;
  background: rgb(242, 175, 88);
  color: #fff;
  padding: 5px 10px;
  margin: 2px 2px 2px 25px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  /* -webkit-transform-origin: 0% 50%; */
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s;
}

.tag:before {
  content: "";
  position: absolute;
  width: 0;
  background: inherit;
  height: 30px;
  border: 12px solid #fafafa;
  border-right-color: transparent;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  left: -23px;
  top: 0;
}

.tag:after {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  left: -3px;
  top: 12px;
  box-shadow: inset 1px 1px 0 #ccc;
}

.tag .close-tag {
  position: absolute;
  background: inherit;
  left: -4px;
  z-index: 3;
  visibility: hidden;
}

.tag:hover .close-tag {
  visibility: visible;
}

.close-tag:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(100deg);
  }
  25% {
    -webkit-transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-200);
  }
  25% {
    -webkit-transform: rotate(-70);
  }
  50% {
    -webkit-transform: rotate(-185);
  }
  100% {
    -webkit-transform: rotate(-180);
  }
}
/*--- Tag end */

/*--- Upload hinh bai viet*/
.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 420px;
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}
/*--- End up load hinh bai viet*/

/* breadcrumb */
ul.breadcrumb {
  margin: 0;
  padding: 10px 0px;
  list-style: none;
  background-color: initial;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li:first-child + li:before {
  padding: 8px;
  color: black;
  content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: rgb(242, 175, 88);
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #26272b;
  text-decoration: underline;
}
/*END breadcrumb*/

/*FOOTER*/
.site-footer {
  margin-top: 0;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/*END Footer*/
@media (min-width: 1200px) {
  .container {
    max-width: 1100px !important;
  }
}

datalist {
  display: none;
}
/* specifically hide the arrow on focus */
input::-webkit-calendar-picker-indicator {
  display: none;
}

/*Premier branch*/
.Premier {
  font-size: 25px;
  border: 0px solid #26272b;
  padding: 3px 10px;
  border-radius: 10rem;
  background-color: #ffc107;
  color: #fff;
}
.Premier i {
  color: #fff;
}
/*AVATAR upload*/
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-edit input {
  display: none;
}
.avatar-edit label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-edit label:hover {
  background: #ffc107;
  border-color: #ffc107;
}
.avatar-edit label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.info-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.head-info a {
  color: #333;
  text-decoration: underline !important;
}
.head-info a:hover {
  color: #ffc107;
}
.head-info a::before {
  font-family: FontAwesome;
  content: "\f044";
  padding-right: 3px;
  display: inline-block;
}
.info-body {
  /* font-size: 0.8rem; */
  margin-top: 15px;
}
/*Register and has premium*/

.has-premium {
  color: #ffffff;
}

.has-premium p {
  margin: 0;
}

.register-premium .text-box,
.has-premium .text-box {
  position: relative;
}
.register-premium .btn:link,
.register-premium .btn:visited,
.has-premium .btn:link,
.has-premium .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}
.register-premium .btn:hover,
.has-premium .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.register-premium .btn:active,
.has-premium .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.register-premium .btn-white {
  background-color: #ffc107;
  color: #fff;
  font-weight: 700;
}
.has-premium .btn-white {
  background-color: #fff;
  color: #ffc107;
  font-weight: 700;
}

.register-premium .btn::after,
.has-premium .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.register-premium .btn-white::after {
  background-color: #ffc107;
}
.has-premium .btn-white::after {
  background-color: #ffffff;
}

.register-premium .btn:hover::after,
.has-premium .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.register-premium .btn-animated .has-premium .btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal-body label {
  margin-top: 0;
}

/*Timer*/
.has-premium div {
  display: inline-block;
  line-height: 1;
  padding: 5px;
  font-size: 10px;
}

.has-premium span {
  display: block;
  font-size: 17px;
  color: white;
}

#days {
  font-size: 50px;
  color: #db4844;
}
#hours {
  font-size: 50px;
  color: #f07c22;
}
#minutes {
  font-size: 50px;
  color: #f6da74;
}
#seconds {
  font-size: 35px;
  color: #f8f8f8;
}

.read-more {
  /* position: absolute; */
  text-align: center;
  margin-top: 15px;
}
.read-more a {
  padding: 5px 10px;
  width: 50px;
  background-color: #007bb6;
  color: #fafafa;
}
/*end readmore*/

/*Danh sách theo Cat*/
.byCat-news {
  padding: 20px;
  padding-top: 0;
  margin-right: 20%;
  border-right: solid 1px #bbb;
}
.byCat-news .item {
  /* height: 300px; */
  padding: 10px;
  border-bottom: solid 1px #bbb;
  margin: 15px 0;
}

.byCat-news .item-thumbnail {
  position: relative;
  margin-right: 10px;
  /* overflow: hidden; */
  /* height: 100%; */
  width: 300px;
}
.byCat-news .item-thumbnail img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.byCat-news .item-meta .item-title {
  max-height: 60px;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}
.byCat-news .item-decription {
  max-height: 80px;
  line-height: 25px;
  overflow: hidden;
  font-size: 13px;
}
.ls-tag {
  font: 12px/1.5 "PT Sans", serif;
  margin: 2px 0;
}
.ls-tag .tagr {
  /* display: inline-block;
  background: rgb(242, 175, 88);
  color: #fff;
  padding: 5px 5px;
  font: normal 12px sans-serif;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s; */
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.ls-tag .tagr:hover {
  background-color: crimson;
  color: white;
}
.ls-tag .tagr:before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.ls-tag .tagr:after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}
.ls-tag .tagr:hover::after {
  border-left-color: crimson;
}
/*END Danh sách theo Cat*/

/*Danh sách ngẫu nhiên cùng Cate*/
/*Trang NewsDetail*/
.rand-item {
  position: relative;
  overflow: hidden;
  margin: 15px 0;
}
.rand-item-thumbnail {
  float: left;
  width: 150px;
  height: 120px;
  margin-right: 10px;
  overflow: hidden;
}
.rand-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.rand-item-title {
  max-height: 80px;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}
.rand-item-date {
  font-size: 11px;
  color: #888;
}

.rand-item-premium {
  position: absolute;
  /* top: 70px; */
  left: 85px;
  font-size: 15px;
  color: #fafafa;
  background-color: #ffc107;
  text-shadow: 0 0 10px #000;
  animation: blink 1.75s linear infinite;
  border-radius: 10px;
  padding: 0 2px;
}
/*end Danh sách ngẫu nhiên cùng Cate*/

/*Comment block*/
.comment-thing {
  width: 100%;
  height: auto;
}
.user_avatar {
  width: 65px;
  height: 65px;

  display: inline-block;
  vertical-align: middle;
}
.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment_block {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 10px;
}
.comment_block .create_new_comment {
  width: 100%;
  padding: 20px 0;
}
.comment_block .create_new_comment .input_comment {
  display: inline-block;
  vertical-align: middle;

  margin-left: 10px;
  width: calc(100% - 75px);
}
.comment_block .create_new_comment input[type="text"] {
  width: 100%;
  /* resize: none; */
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;

  padding: 10px;

  border: none;
  border-bottom: 2px solid lighten(#ccc, 15%);
}
.comment_block .create_new_comment input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid lighten(#ccc, 10%);
}

.new_comment {
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-top: 1px solid lighten(#ccc, 10%);
}
.new_comment .user_comment {
  list-style-type: none;
}

.new_comment .comment_body {
  display: inline-block;
  vertical-align: middle;

  width: calc(100% - 75px);
  min-height: 65px;
  margin-left: 10px;
  padding: 0px 10px;
  font-size: 0.9rem;
  color: #555;
  /* background-color: 0; */
  border-bottom: 2px solid lighten(#ccc, 15%);
}
.new_comment .comment_body p {
  padding: 0px;
  margin: 0;
}
.new_comment .comment_body span {
  color: #6495ed;
  margin-right: 2px;
}

.new_comment .comment_body .comment_toolbar {
  width: 100%;
}
.new_comment .comment_body .comment_toolbar ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 0;
}
.new_comment .comment_toolbar ul li {
  display: inline-block;
  padding: 5px 10px;
  font-size: 0.7rem;
  color: lighten(#ccc, 5%);
}
.new_comment .comment_toolbar ul li:hover {
  cursor: pointer;
}

.new_comment .comment_toolbar .comment_details {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  text-align: left;
}
/*END Comment block*/

/**/
.news-detail {
  margin: 10px;
}
.news-detail p {
  margin: 5px 0;
}
.news-detail p span {
  font-weight: 600;
  color: #333;
}
/**/

/*User menu*/
.user-menu-wrap {
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 15px;
}
.user-menu-wrap:hover {
  background-color: #424242 !important;
  border-radius: 1.3rem;
}
.user-menu-wrap .user-menu-name {
  font-size: 0.8rem !important;
  margin-left: 7px;
}
.user-menu-wrap .dropdown-menu {
  padding: 0;

  cursor: initial;
}
.user-menu-wrap .dropdown-menu a {
  font-size: 15px;
}

.dropdown-menu .user-img {
  background-color: #424242;
}
.dropdown-menu .user-img img {
  width: 120px;
  height: 120px;
}
.dropdown-menu .user-img .name {
  color: #fafafa;
  font-size: 1.2rem;
  margin: 0;
}
.dropdown-menu .user-img .role {
  color: #fafafa;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}
.logout {
  padding: 10px 0;
  text-align: center;
  border-top: solid 1px #757575;
}
.logout a {
  color: #2c2c2c;
}
.logout:hover a {
  color: #f07c22;
}

/**/

.avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* border: solid 1px #3b5998; */
}
.news-fullcontent img {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul#ListCat {
  padding: 0;
}
ul#ListCat li {
  display: inline;
  padding-right: 20px;
  font-size: 20px;
  color: #000000;
}
ul#ListCat li a {
  color: #000000;
}
ul#ListCat li .active {
  padding-bottom: 3px;
  color: #00b4cc;
  border-bottom: solid 3px #3b5998;
}
ul#ListCat li:hover a {
  padding-bottom: 3px;
  color: #00b4cc;
  border-bottom: solid 3px #3b5998;
}

.pricing-header {
  max-width: 700px;
}
.font-weight-normal {
  font-weight: 400 !important;
}

/*Menu Admin*/
#menu-admin {
  font-size: 20px;
}
#menu-admin .active {
  color: #00b4cc !important;
  background-color: #555;
}
#menu-admin .nav-link {
  color: #fafafafa;
}
#menu-admin .nav-link:hover {
  color: #00b4cc;
  background-color: #555;
}

#menu-admin .nav-link[data-toggle].collapsed:after {
  content: " ▾" !important;
}
#menu-admin .nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴" !important;
}

.card img{
  max-width: 1100px;
}