* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", sans-serif;
  font-size: 15px;
}
div {
  display: block;
}
img {
  border: 0;
}
a {
  text-decoration: none !important;
}
.bold {
  font-weight: 500 !important;
}

/* Nav bar */
nav .container {
  position: relative !important;
}

#top-nav {
  text-align: left;
  line-height: 40px;
}
#top-nav a {
  color: #999 !important;
}

#top-nav a:hover {
  color: #ccc !important;
}

#mid-nav {
  text-align: center;
  line-height: 40px;
  border-width: 2px;
  border-bottom-color: black;
  color: black;
}
#mid-nav a {
  color: black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

nav li {
  margin: 0;
  padding: 10px 30px 10px 30px;
  display: inline-block;
  font-size: 17;
}
nav li a {
  color: #fff;
  font-weight: 500;
}

nav li:hover {
  background: #fafafa;
  cursor: pointer;
}

nav li:hover a {
  color: #333;
}

.hidden {
  visibility: hidden;
  transition-delay: 0.5s;
}
.delay {
  transition-delay: 0.7s;
}

#menu-main {
  z-index: 2;
}

.menu-sub {
  position: absolute;
  left: 0;
  background: #fafafa;
  width: 100%;

  display: none;
  color: #333;
  padding: 2em;
  padding: 2em 10em;
  margin-top: 10px;
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub div {
  margin: 1em 2em;
  display: inline-block;
}

.menu-sub a {
  /* display: block; */
  padding: 0;
  margin-bottom: 0.35em;
}

.menu-sub a:hover {
  text-decoration: underline;
}

/* .menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
} */

.menu-col-1 {
  width: 25%;
}

.menu-col-2 {
  width: 50%;
}

.row a {
  font-weight: initial;
}
.menu-sub a:hover {
  color: orange;
}
/* End navbar */

/*search-bar */
#search-bar {
  position: absolute;
  height: 70px;
  width: 1250px;
  top: -50%;
  left: 0;
  z-index: 1;
  overflow: hidden !important;
}
#content {
  position: absolute;
  height: 40px;
  width: 40px;
  margin-left: 150px;
  top: 85%;
  left: 80%;
  transform: translate(-50%, -50%);
}
#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
nav input {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0 !important;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 100%;
  outline: 0 !important;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 12px;
  margin-left: 6px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close-searchbar {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close-searchbar:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  margin-top: -1px;
  margin-left: -10px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close-searchbar:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -10px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 1110px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
/* end Search bar */

/*---Trang Home*/
#famousNew-carousel {
  width: 100%;
  height: 400px;
}
#famousNew-carousel img,
#TopCateg-carousel img {
  width: 100%;
  height: 400px;
  margin: 0;
  object-fit: cover;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.categoryText {
  color: #ff4e00;
  font-weight: 500;
}
.categorylabel {
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgba(0, 144, 255, 0.7);
  color: #fff;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .news-item {
    clear: both;
    margin-bottom: 10px;
  }
}
.news-item {
  position: relative;
  overflow: hidden;
}
.news-item-thumbnail {
  float: left;
  width: 150px;
  height: 84px;
  margin-right: 10px;
  overflow: hidden;
}
.news-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item-title {
  max-height: 60px;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}
.news-item-date {
  font-size: 11px;
  color: #888;
}

.news-item-premium {
  position: absolute;
  /* top: 70px; */
  left: 85px;
  font-size: 15px;
  color: gold;
  text-shadow: 0 0 10px #000;
  animation: blink 1.75s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/* @keyframes blink{
  0%{color: Violet;}
  15%{color: Indigo;}
  30%{color: blue;}
  45%{color: Green;}
  59%{color: Yellow;}
  76%{color: Orange;}
  91%{color: Red;}
  100%{color: pink;}
} */

/* Ds Bài viết nhiều view */
.viewest-news-item {
  height: 190px;
}
.viewest-news-item-thumbnail {
  float: left;
  width: 250px;
  height: 184px;
  margin-right: 10px;
  overflow: hidden;
}
.viewest-news-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viewest-news-item-title {
  max-height: 60px;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}
.news-item-decription {
  max-height: 80px;
  line-height: 25px;
  overflow: hidden;
  font-size: 13px;
}
/*End Ds Bài viết nhiều view*/
/*---END Trang Home*/

/*--- Tag design */
#tags {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #ccc inset;
  padding: 10px;
  width: 100%;
  background: #fafafa;
  margin: 0;
}

#tag-typer {
  outline: none;
  border: none;
  padding: 6px;
  margin: 3px;
  margin-right: -25px;
  width: 120px;
  background-color: transparent;
  font-size: 14px;
  color: #333;
}

.tag {
  display: inline-block;
  background: #6ad;
  color: #fff;
  padding: 5px 10px;
  margin: 2px 2px 2px 25px;
  font: normal 16px sans-serif;
  position: relative;
  cursor: default;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: swing 1s;
  -o-animation: swing 1s;
  animation: swing 1s;
}

.tag:before {
  content: "";
  position: absolute;
  width: 0;
  background: inherit;
  height: 30px;
  border: 12px solid #fafafa;
  border-right-color: transparent;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  left: -23px;
  top: 0;
}

.tag:after {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  left: -3px;
  top: 12px;
  box-shadow: inset 1px 1px 0 #ccc;
}

.tag .close-tag {
  position: absolute;
  background: inherit;
  left: -4px;
  z-index: 3;
  visibility: hidden;
}

.tag:hover .close-tag {
  visibility: visible;
}

.close-tag:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(100deg);
  }
  25% {
    -webkit-transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-200);
  }
  25% {
    -webkit-transform: rotate(-70);
  }
  50% {
    -webkit-transform: rotate(-185);
  }
  100% {
    -webkit-transform: rotate(-180);
  }
}
/*--- Tag end */

/*--- Upload hinh bai viet*/
.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 420px;
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
/*--- End up load hinh bai viet*/

@media (min-width: 1200px) {
  .container {
    max-width: 1100px !important;
  }
}

