{{#if isRegPass}}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Bạn đã đăng ký premier</h1>
    <p class="lead">Yêu cầu đăng kí tài khoản premier của bạn đang được sử lý</p>
</div>
{{else}}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Đăng ký premier</h1>
    <p class="lead">Đăng kí bản premier pass của chúng tôi, bạn sẽ nhận được những ưu đãi hấp dẫn với những bài viết
        chất lượng nhất của NewsHope</p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-warning">
                <h4 class="my-0 font-weight-normal">7 ngày</h4>
            </div>
            <div class="card-body register-premium">
                <h1 class="card-title pricing-card-title">50.000 đ</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Xem các bài viết Premium</li>
                    <li>Được phép in các ấn bản</li>
                </ul>
                <div class="text-box mt-5 pt-3">
                    <form action="/account/buy-premier" method="post">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-warning">Đăng kí</button>
                    </form>
                </div>
            </div>
        </div>
        {{!-- <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">30 ngày</h4>
            </div>
            <div class="card-body register-premium">
                <h1 class="card-title pricing-card-title">500.000 đ</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Tặng thêm 3 ngày sử dụng miễn phí</li>
                </ul>
                <div class="text-box mt-5 pt-3">
                    <form action="/account/buy-premier" method="post">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Đăng kí</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-warning">
                <h4 class="my-0 font-weight-normal">6 tháng</h4>
            </div>
            <div class="card-body register-premium">
                <h1 class="card-title pricing-card-title">1.000.000 đ</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Tặng thêm 15 ngày sử dụng miễn phí</li>
                    <li>Nhận được sự hỗ trợ tốt nhất từ phía chúng tôi</li>
                </ul>
                <div class="text-box">
                    <form action="/account/buy-premier" method="post">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-warning ">Đăng kí</button>
                    </form>
                </div>

            </div>
        </div> --}}
    </div>

</div>
</div>
{{/if}}