<div class="d-block p-2 bg-dark" id="top-nav">
    <div class="d-inline text-white bold" id="currdate" style="margin-left: 10%;"></div>
    <a class="text-white float-right bold" href="#" style="margin-right: 10%;">Register</a>
    <a class="text-white float-right bold" href="#" style="padding-right: 15px">Login</a>
</div>
<!-- <div class="d-block p-2 bg-white border-bottom border-dark" id="mid-nav">
        <h1 class="bold"><a href="">WhiteNews</a> </h1>
    </div> -->
<nav class="bg-dark">
    <div class="container">
        <ul id="menu-main">
            {{#each categories}}
            <li><a href="">{{TenDanhMuc}}</a>
                <div class="menu-sub">
                    {{#each TenDanhMucCon}}
                    <div><a href="">{{this}}</a></div>
                    {{/each}}
                </div>
            </li>
            {{/each}}
            {{#if isFull}}
                <li><a href="">Thêm</a></li>
            {{/if}}

        </ul>
        <div id="search-bar">
            <form id="content" autocomplete="off">
                <input type="text" name="input" class="input" id="search-input">
                <button type="reset" class="search" id="search-btn"></button>
            </form>
        </div>
    </div>
</nav>
<script src="/javascript/date.js"></script>
<script>
    //Date on nav
    document.getElementById("currdate").innerHTML=presentDate();

    //nav search motion effect
    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");
    const categoryNav = document.getElementById("menu-main");
    let check = false;
    const expand = () => {
        if (check == true) {
            categoryNav.classList.add("delay");
            check = false;
        } else {
            categoryNav.classList.remove("delay");
            check = true;
        }
        console.log(check);
        searchBtn.classList.toggle("close-searchbar");
        input.classList.toggle("square");
        categoryNav.classList.toggle("hidden");

    };
    searchBtn.addEventListener("click", expand);
</script>
